<div class="preferences" ng-controller="recoveryFromSeed as recFromSeed">
<nav ng-controller="topbarController as topbar" class="tab-bar" >
        <!-- 左区 -->
        <section class="left-small">
            <a ng-if="!recFromSeed.scanning" ng-click="$root.go('^', true); goBackToState = null" >
                <img src="./img/chatbackstate.png">
            </a>
            <a ng-if="recFromSeed.scanning" >
                <img src="./img/chatbackstate.png">
            </a>
        </section>
        <!-- 中间区 -->
        <section class="middle tab-bar-section">
            <h1 class="title ellipsis" translate>
                Recovery
            </h1>
        </section>
    </nav>
    <div class="f9fafch"></div>
	<div>
		<form name="settingsDeviceNameForm" style="padding-top: 0;margin: 0;" ng-submit="recFromSeed.recoveryForm()" onkeydown=" if( event.keyCode==13 )return false " >
			<div class="box-notification" ng-show="recFromSeed.error">
				<span class="text-warning" translate>{{recFromSeed.error}}</span>
			</div>
			<label style="font-size: 14px;
                        color: #282828;
                        padding-top: 30px;
                        margin-bottom: 30px;
                        text-align: left !important;
                        padding-left: 15px;" translate>Your Wallet Seed Phrase:</label>

			<!--  更改为12个输入框  -->
			<div ng-if="!index.isCordova">
				<div style=" height: 84px;padding:0 15px; ">
					<!-- 111-->
					<div class="inptWrap">
						<input class="inptMnemonic inptMnemonic3" lang="en" ng-model="recFromSeed.mnemonic1" ng-change="recFromSeed.funReg1()" ng-focus="recFromSeed.funReg1()" onkeyup="this.value=this.value.replace(/[^a-z]/g,'');" onchange="this.value=this.value.replace(/[^a-z]/g,'');" ng-keyup="recFromSeed.handleKeyboard1($event)" maxlength="8">
						<!--<ul class="notiUl" ng-if="recFromSeed.m1 == 1 && recFromSeed.mnemonic1">-->
							<!--<li class="notiLi" ng-class="{'active':$index == recFromSeed.num}" ng-repeat="item in recFromSeed.items" ng-click="recFromSeed.mnemonic1 = recFromSeed.mnemonic1+item; recFromSeed.hideUlclearItems()"> <span>{{recFromSeed.mnemonic1}}</span>{{item}} </li>-->
						<!--</ul>-->
					</div>
					<!--222-->
					<div class="inptWrap">
						<input class="inptMnemonic inptMnemonic3" lang="en" ng-model="recFromSeed.mnemonic2" ng-change="recFromSeed.funReg2()" ng-focus="recFromSeed.funReg2()" onkeyup="this.value=this.value.replace(/[^a-z]/g,'');" onchange="this.value=this.value.replace(/[^a-z]/g,'');" ng-keyup="recFromSeed.handleKeyboard2($event)" maxlength="8">
						<!--<ul class="notiUl" ng-if="recFromSeed.m1 == 2 && recFromSeed.mnemonic2">-->
							<!--<li class="notiLi" ng-class="{'active':$index == recFromSeed.num}" ng-repeat="item in recFromSeed.items" ng-click="recFromSeed.mnemonic2 = recFromSeed.mnemonic2+item; recFromSeed.hideUlclearItems()"> <span>{{recFromSeed.mnemonic2}}</span>{{item}} </li>-->
						<!--</ul>-->
					</div>
					<!--333-->
					<div class="inptWrap">
						<input class="inptMnemonic inptMnemonic3" lang="en" ng-model="recFromSeed.mnemonic3" ng-change="recFromSeed.funReg3()" ng-focus="recFromSeed.funReg3()" onkeyup="this.value=this.value.replace(/[^a-z]/g,'');" onchange="this.value=this.value.replace(/[^a-z]/g,'');" ng-keyup="recFromSeed.handleKeyboard3($event)" maxlength="8">
						<!--<ul class="notiUl" ng-if="recFromSeed.m1 == 3 && recFromSeed.mnemonic3">-->
							<!--<li class="notiLi" ng-class="{'active':$index == recFromSeed.num}" ng-repeat="item in recFromSeed.items" ng-click="recFromSeed.mnemonic3 = recFromSeed.mnemonic3+item; recFromSeed.hideUlclearItems()"> <span>{{recFromSeed.mnemonic3}}</span>{{item}} </li>-->
						<!--</ul>-->
					</div>
					<!--444-->
					<div class="inptWrap noMarginR">
						<input class="inptMnemonic inptMnemonic3" lang="en" ng-model="recFromSeed.mnemonic4" ng-change="recFromSeed.funReg4()" ng-focus="recFromSeed.funReg4()" onkeyup="this.value=this.value.replace(/[^a-z]/g,'');" onchange="this.value=this.value.replace(/[^a-z]/g,'');" ng-keyup="recFromSeed.handleKeyboard4($event)" maxlength="8">
						<!--<ul class="notiUl" ng-if="recFromSeed.m1 == 4 && recFromSeed.mnemonic4">-->
							<!--<li class="notiLi" ng-class="{'active':$index == recFromSeed.num}" ng-repeat="item in recFromSeed.items" ng-click="recFromSeed.mnemonic4 = recFromSeed.mnemonic4+item; recFromSeed.hideUlclearItems()"> <span>{{recFromSeed.mnemonic4}}</span>{{item}} </li>-->
						<!--</ul>-->
					</div>
					<!--清除浮动-->
					<div class="clearB"></div>
					<!--555-->
					<div class="inptWrap">
						<input class="inptMnemonic inptMnemonic3" lang="en" ng-model="recFromSeed.mnemonic5" ng-change="recFromSeed.funReg5()" ng-focus="recFromSeed.funReg5()" onkeyup="this.value=this.value.replace(/[^a-z]/g,'');" onchange="this.value=this.value.replace(/[^a-z]/g,'');" ng-keyup="recFromSeed.handleKeyboard5($event)" maxlength="8">
						<!--<ul class="notiUl" ng-if="recFromSeed.m1 == 5 && recFromSeed.mnemonic5">-->
							<!--<li class="notiLi" ng-class="{'active':$index == recFromSeed.num}" ng-repeat="item in recFromSeed.items" ng-click="recFromSeed.mnemonic5 = recFromSeed.mnemonic5+item; recFromSeed.hideUlclearItems()"> <span>{{recFromSeed.mnemonic5}}</span>{{item}} </li>-->
						<!--</ul>-->
					</div>
					<!--666-->
					<div class="inptWrap">
						<input class="inptMnemonic inptMnemonic3" lang="en" ng-model="recFromSeed.mnemonic6" ng-change="recFromSeed.funReg6()" ng-focus="recFromSeed.funReg6()" onkeyup="this.value=this.value.replace(/[^a-z]/g,'');" onchange="this.value=this.value.replace(/[^a-z]/g,'');" ng-keyup="recFromSeed.handleKeyboard6($event)" maxlength="8">
						<!--<ul class="notiUl" ng-if="recFromSeed.m1 == 6 && recFromSeed.mnemonic6">-->
							<!--<li class="notiLi" ng-class="{'active':$index == recFromSeed.num}" ng-repeat="item in recFromSeed.items" ng-click="recFromSeed.mnemonic6 = recFromSeed.mnemonic6+item; recFromSeed.hideUlclearItems()"> <span>{{recFromSeed.mnemonic6}}</span>{{item}} </li>-->
						<!--</ul>-->
					</div>
					<!--777	-->
					<div class="inptWrap">
						<input class="inptMnemonic inptMnemonic3" lang="en" ng-model="recFromSeed.mnemonic7" ng-change="recFromSeed.funReg7()" ng-focus="recFromSeed.funReg7()" onkeyup="this.value=this.value.replace(/[^a-z]/g,'');" onchange="this.value=this.value.replace(/[^a-z]/g,'');" ng-keyup="recFromSeed.handleKeyboard7($event)" maxlength="8">
						<!--<ul class="notiUl" ng-if="recFromSeed.m1 == 7 && recFromSeed.mnemonic7">-->
							<!--<li class="notiLi" ng-class="{'active':$index == recFromSeed.num}" ng-repeat="item in recFromSeed.items" ng-click="recFromSeed.mnemonic7 = recFromSeed.mnemonic7+item; recFromSeed.hideUlclearItems()"> <span>{{recFromSeed.mnemonic7}}</span>{{item}} </li>-->
						<!--</ul>-->
					</div>
					<!--888	-->
					<div class="inptWrap noMarginR">
						<input class="inptMnemonic inptMnemonic3" lang="en" ng-model="recFromSeed.mnemonic8" ng-change="recFromSeed.funReg8()" ng-focus="recFromSeed.funReg8()" onkeyup="this.value=this.value.replace(/[^a-z]/g,'');" onchange="this.value=this.value.replace(/[^a-z]/g,'');" ng-keyup="recFromSeed.handleKeyboard8($event)" maxlength="8">
						<!--<ul class="notiUl" ng-if="recFromSeed.m1 == 8 && recFromSeed.mnemonic8">-->
							<!--<li class="notiLi" ng-class="{'active':$index == recFromSeed.num}" ng-repeat="item in recFromSeed.items" ng-click="recFromSeed.mnemonic8 = recFromSeed.mnemonic8+item; recFromSeed.hideUlclearItems()"> <span>{{recFromSeed.mnemonic8}}</span>{{item}} </li>-->
						<!--</ul>-->
					</div>
					<!--清除浮动-->
					<div class="clearB"></div>
					<!--999-->
					<div class="inptWrap">
						<input class="inptMnemonic inptMnemonic3" lang="en" ng-model="recFromSeed.mnemonic9" ng-change="recFromSeed.funReg9()" ng-focus="recFromSeed.funReg9()" onkeyup="this.value=this.value.replace(/[^a-z]/g,'');" onchange="this.value=this.value.replace(/[^a-z]/g,'');" ng-keyup="recFromSeed.handleKeyboard9($event)" maxlength="8">
						<!--<ul class="notiUl" ng-if="recFromSeed.m1 == 9 && recFromSeed.mnemonic9">-->
							<!--<li class="notiLi" ng-class="{'active':$index == recFromSeed.num}" ng-repeat="item in recFromSeed.items" ng-click="recFromSeed.mnemonic9 = recFromSeed.mnemonic9+item; recFromSeed.hideUlclearItems()"> <span>{{recFromSeed.mnemonic9}}</span>{{item}} </li>-->
						<!--</ul>-->
					</div>
					<!--10 10 10-->
					<div class="inptWrap">
						<input class="inptMnemonic inptMnemonic3" lang="en" ng-model="recFromSeed.mnemonic10" ng-change="recFromSeed.funReg10()" ng-focus="recFromSeed.funReg10()" onkeyup="this.value=this.value.replace(/[^a-z]/g,'');" onchange="this.value=this.value.replace(/[^a-z]/g,'');" ng-keyup="recFromSeed.handleKeyboard10($event)" maxlength="8">
						<!--<ul class="notiUl" ng-if="recFromSeed.m1 == 10 && recFromSeed.mnemonic10">-->
							<!--<li class="notiLi" ng-class="{'active':$index == recFromSeed.num}" ng-repeat="item in recFromSeed.items" ng-click="recFromSeed.mnemonic10 = recFromSeed.mnemonic10+item; recFromSeed.hideUlclearItems()"> <span>{{recFromSeed.mnemonic10}}</span>{{item}} </li>-->
						<!--</ul>-->
					</div>
					<!--11 11 11-->
					<div class="inptWrap">
						<input class="inptMnemonic inptMnemonic3" lang="en" ng-model="recFromSeed.mnemonic11" ng-change="recFromSeed.funReg11()" ng-focus="recFromSeed.funReg11()" onkeyup="this.value=this.value.replace(/[^a-z]/g,'');" onchange="this.value=this.value.replace(/[^a-z]/g,'');" ng-keyup="recFromSeed.handleKeyboard11($event)" maxlength="8">
						<!--<ul class="notiUl" ng-if="recFromSeed.m1 == 11 && recFromSeed.mnemonic11">-->
							<!--<li class="notiLi" ng-class="{'active':$index == recFromSeed.num}" ng-repeat="item in recFromSeed.items" ng-click="recFromSeed.mnemonic11 = recFromSeed.mnemonic11+item; recFromSeed.hideUlclearItems()"> <span>{{recFromSeed.mnemonic11}}</span>{{item}} </li>-->
						<!--</ul>-->
					</div>
					<!--12 12 12-->
					<div class="inptWrap noMarginR">
						<input class="inptMnemonic inptMnemonic3"lang="en" ng-model="recFromSeed.mnemonic12" ng-change="recFromSeed.funReg12()" ng-focus="recFromSeed.funReg12()" onkeyup="this.value=this.value.replace(/[^a-z]/g,'');" onchange="this.value=this.value.replace(/[^a-z]/g,'');" ng-keyup="recFromSeed.handleKeyboard12($event)" maxlength="8">
						<!--<ul class="notiUl" ng-if="recFromSeed.m1 == 12 && recFromSeed.mnemonic12">-->
							<!--<li class="notiLi" ng-class="{'active':$index == recFromSeed.num}" ng-repeat="item in recFromSeed.items" ng-click="recFromSeed.mnemonic12 = recFromSeed.mnemonic12+item; recFromSeed.hideUlclearItems()"> <span>{{recFromSeed.mnemonic12}}</span>{{item}} </li>-->
						<!--</ul>-->
					</div>
					<!--清除浮动-->
					<div class="clearB"></div>
				</div>
			</div>
			<div ng-if="index.isCordova">
				<div style=" height: 84px;padding:0 15px; ">
					<!--111-->
					<div class="inptWrap">
						<input class="inptMnemonic inptMnemonic3" lang="en" ng-model="recFromSeed.mnemonic1" ng-change="recFromSeed.funReg1()" ng-focus="recFromSeed.funReg1()" onkeyup="this.value=this.value.replace(/[^a-z]/g,'');" onchange="this.value=this.value.replace(/[^a-z]/g,'');" ng-keyup="recFromSeed.handleKeyboard1($event)" maxlength="8">
						<!--<ul class="mobileUl" ng-class="{'showList':recFromSeed.m1 == 1 && recFromSeed.items.length > 0 }">-->
							<!--<li class="notiLi" ng-class="{'active':$index == recFromSeed.num}" ng-repeat="item in recFromSeed.items" ng-click="recFromSeed.mnemonic1 = recFromSeed.mnemonic1+item; recFromSeed.hideUlclearItems()"> <span>{{recFromSeed.mnemonic1}}</span>{{item}} </li>-->
						<!--</ul>-->
					</div>
					<!--222-->
					<div class="inptWrap">
						<input class="inptMnemonic inptMnemonic3" lang="en" ng-model="recFromSeed.mnemonic2" ng-change="recFromSeed.funReg2()" ng-focus="recFromSeed.funReg2()" onkeyup="this.value=this.value.replace(/[^a-z]/g,'');" onchange="this.value=this.value.replace(/[^a-z]/g,'');" ng-keyup="recFromSeed.handleKeyboard2($event)" maxlength="8">
						<!--<ul class="mobileUl" ng-class="{'showList':recFromSeed.m1 == 2 && recFromSeed.items.length > 0 }">-->
							<!--<li class="notiLi" ng-class="{'active':$index == recFromSeed.num}" ng-repeat="item in recFromSeed.items" ng-click="recFromSeed.mnemonic2 = recFromSeed.mnemonic2+item; recFromSeed.hideUlclearItems()"> <span>{{recFromSeed.mnemonic2}}</span>{{item}} </li>-->
						<!--</ul>-->
					</div>
					<!--333-->
					<div class="inptWrap">
						<input class="inptMnemonic inptMnemonic3" lang="en" ng-model="recFromSeed.mnemonic3" ng-change="recFromSeed.funReg3()" ng-focus="recFromSeed.funReg3()" onkeyup="this.value=this.value.replace(/[^a-z]/g,'');" onchange="this.value=this.value.replace(/[^a-z]/g,'');" ng-keyup="recFromSeed.handleKeyboard3($event)" maxlength="8">
						<!--<ul class="mobileUl" ng-class="{'showList':recFromSeed.m1 == 3 && recFromSeed.items.length > 0 }">-->
							<!--<li class="notiLi" ng-class="{'active':$index == recFromSeed.num}" ng-repeat="item in recFromSeed.items" ng-click="recFromSeed.mnemonic3 = recFromSeed.mnemonic3+item; recFromSeed.hideUlclearItems()"> <span>{{recFromSeed.mnemonic3}}</span>{{item}} </li>-->
						<!--</ul>-->
					</div>
					<!--444-->
					<div class="inptWrap noMarginR">
						<input class="inptMnemonic inptMnemonic3" lang="en" ng-model="recFromSeed.mnemonic4" ng-change="recFromSeed.funReg4()" ng-focus="recFromSeed.funReg4()" onkeyup="this.value=this.value.replace(/[^a-z]/g,'');" onchange="this.value=this.value.replace(/[^a-z]/g,'');" ng-keyup="recFromSeed.handleKeyboard4($event)" maxlength="8">
						<!--<ul class="mobileUl" ng-class="{'showList':recFromSeed.m1 == 4 && recFromSeed.items.length > 0 }">-->
							<!--<li class="notiLi" ng-class="{'active':$index == recFromSeed.num}" ng-repeat="item in recFromSeed.items" ng-click="recFromSeed.mnemonic4 = recFromSeed.mnemonic4+item; recFromSeed.hideUlclearItems()"> <span>{{recFromSeed.mnemonic4}}</span>{{item}} </li>-->
						<!--</ul>-->
					</div>
					<!--清除浮动-->
					<div class="clearB"></div>
					<!--555-->
					<div class="inptWrap">
						<input class="inptMnemonic inptMnemonic3" lang="en" ng-model="recFromSeed.mnemonic5" ng-change="recFromSeed.funReg5()" ng-focus="recFromSeed.funReg5()" onkeyup="this.value=this.value.replace(/[^a-z]/g,'');" onchange="this.value=this.value.replace(/[^a-z]/g,'');" ng-keyup="recFromSeed.handleKeyboard5($event)" maxlength="8">
						<!--<ul class="mobileUl" ng-class="{'showList':recFromSeed.m1 == 5 && recFromSeed.items.length > 0 }">-->
							<!--<li class="notiLi" ng-class="{'active':$index == recFromSeed.num}" ng-repeat="item in recFromSeed.items" ng-click="recFromSeed.mnemonic5 = recFromSeed.mnemonic5+item; recFromSeed.hideUlclearItems()"> <span>{{recFromSeed.mnemonic5}}</span>{{item}} </li>-->
						<!--</ul>-->
					</div>
					<!--666-->
					<div class="inptWrap">
						<input class="inptMnemonic inptMnemonic3" lang="en" ng-model="recFromSeed.mnemonic6" ng-change="recFromSeed.funReg6()" ng-focus="recFromSeed.funReg6()" onkeyup="this.value=this.value.replace(/[^a-z]/g,'');" onchange="this.value=this.value.replace(/[^a-z]/g,'');" ng-keyup="recFromSeed.handleKeyboard6($event)" maxlength="8">
						<!--<ul class="mobileUl" ng-class="{'showList':recFromSeed.m1 == 6 && recFromSeed.items.length > 0 }">-->
							<!--<li class="notiLi" ng-class="{'active':$index == recFromSeed.num}" ng-repeat="item in recFromSeed.items" ng-click="recFromSeed.mnemonic6 = recFromSeed.mnemonic6+item; recFromSeed.hideUlclearItems()"> <span>{{recFromSeed.mnemonic6}}</span>{{item}} </li>-->
						<!--</ul>-->
					</div>
					<!--777	-->
					<div class="inptWrap">
						<input class="inptMnemonic inptMnemonic3" lang="en" ng-model="recFromSeed.mnemonic7" ng-change="recFromSeed.funReg7()" ng-focus="recFromSeed.funReg7()" onkeyup="this.value=this.value.replace(/[^a-z]/g,'');" onchange="this.value=this.value.replace(/[^a-z]/g,'');" ng-keyup="recFromSeed.handleKeyboard7($event)" maxlength="8">
						<!--<ul class="mobileUl" ng-class="{'showList':recFromSeed.m1 == 7 && recFromSeed.items.length > 0 }"">-->
						<!--<li class="notiLi" ng-class="{'active':$index == recFromSeed.num}" ng-repeat="item in recFromSeed.items" ng-click="recFromSeed.mnemonic7 = recFromSeed.mnemonic7+item; recFromSeed.hideUlclearItems()"> <span>{{recFromSeed.mnemonic7}}</span>{{item}} </li>-->
						<!--</ul>-->
					</div>
					<!--888	-->
					<div class="inptWrap noMarginR">
						<input class="inptMnemonic inptMnemonic3" lang="en" ng-model="recFromSeed.mnemonic8" ng-change="recFromSeed.funReg8()" ng-focus="recFromSeed.funReg8()" onkeyup="this.value=this.value.replace(/[^a-z]/g,'');" onchange="this.value=this.value.replace(/[^a-z]/g,'');" ng-keyup="recFromSeed.handleKeyboard8($event)" maxlength="8">
						<!--<ul class="mobileUl" ng-class="{'showList':recFromSeed.m1 == 8 && recFromSeed.items.length > 0 }">-->
							<!--<li class="notiLi" ng-class="{'active':$index == recFromSeed.num}" ng-repeat="item in recFromSeed.items" ng-click="recFromSeed.mnemonic8 = recFromSeed.mnemonic8+item; recFromSeed.hideUlclearItems()"> <span>{{recFromSeed.mnemonic8}}</span>{{item}} </li>-->
						<!--</ul>-->
					</div>
					<!--清除浮动-->
					<div class="clearB"></div>
					<!--999-->
					<div class="inptWrap">
						<input class="inptMnemonic inptMnemonic3" lang="en" ng-model="recFromSeed.mnemonic9" ng-change="recFromSeed.funReg9()" ng-focus="recFromSeed.funReg9()" onkeyup="this.value=this.value.replace(/[^a-z]/g,'');" onchange="this.value=this.value.replace(/[^a-z]/g,'');" ng-keyup="recFromSeed.handleKeyboard9($event)" maxlength="8">
						<!--<ul class="mobileUl" ng-class="{'showList':recFromSeed.m1 == 9 && recFromSeed.items.length > 0 }">-->
							<!--<li class="notiLi" ng-class="{'active':$index == recFromSeed.num}" ng-repeat="item in recFromSeed.items" ng-click="recFromSeed.mnemonic9 = recFromSeed.mnemonic9+item; recFromSeed.hideUlclearItems()"> <span>{{recFromSeed.mnemonic9}}</span>{{item}} </li>-->
						<!--</ul>-->
					</div>
					<!--10 10 10-->
					<div class="inptWrap">
						<input class="inptMnemonic inptMnemonic3" lang="en" ng-model="recFromSeed.mnemonic10" ng-change="recFromSeed.funReg10()" ng-focus="recFromSeed.funReg10()" onkeyup="this.value=this.value.replace(/[^a-z]/g,'');" onchange="this.value=this.value.replace(/[^a-z]/g,'');" ng-keyup="recFromSeed.handleKeyboard10($event)" maxlength="8">
						<!--<ul class="mobileUl" ng-class="{'showList':recFromSeed.m1 == 10 && recFromSeed.items.length > 0 }">-->
							<!--<li class="notiLi" ng-class="{'active':$index == recFromSeed.num}" ng-repeat="item in recFromSeed.items" ng-click="recFromSeed.mnemonic10 = recFromSeed.mnemonic10+item; recFromSeed.hideUlclearItems()"> <span>{{recFromSeed.mnemonic10}}</span>{{item}} </li>-->
						<!--</ul>-->
					</div>
					<!--11 11 11-->
					<div class="inptWrap">
						<input class="inptMnemonic inptMnemonic3" lang="en" ng-model="recFromSeed.mnemonic11" ng-change="recFromSeed.funReg11()" ng-focus="recFromSeed.funReg11()" onkeyup="this.value=this.value.replace(/[^a-z]/g,'');" onchange="this.value=this.value.replace(/[^a-z]/g,'');" ng-keyup="recFromSeed.handleKeyboard11($event)" maxlength="8">
						<!--<ul class="mobileUl" ng-class="{'showList':recFromSeed.m1 == 11 && recFromSeed.items.length > 0 }">-->
							<!--<li class="notiLi" ng-class="{'active':$index == recFromSeed.num}" ng-repeat="item in recFromSeed.items" ng-click="recFromSeed.mnemonic11 = recFromSeed.mnemonic11+item; recFromSeed.hideUlclearItems()"> <span>{{recFromSeed.mnemonic11}}</span>{{item}} </li>-->
						<!--</ul>-->
					</div>
					<!--12 12 12-->
					<div class="inptWrap noMarginR">
						<input class="inptMnemonic inptMnemonic3"lang="en" ng-model="recFromSeed.mnemonic12" ng-change="recFromSeed.funReg12()" ng-focus="recFromSeed.funReg12()" onkeyup="this.value=this.value.replace(/[^a-z]/g,'');" onchange="this.value=this.value.replace(/[^a-z]/g,'');" ng-keyup="recFromSeed.handleKeyboard12($event)" maxlength="8">
						<!--<ul class="mobileUl" ng-class="{'showList':recFromSeed.m1 == 12 && recFromSeed.items.length > 0 }">-->
							<!--<li class="notiLi" ng-class="{'active':$index == recFromSeed.num}" ng-repeat="item in recFromSeed.items" ng-click="recFromSeed.mnemonic12 = recFromSeed.mnemonic12+item; recFromSeed.hideUlclearItems()"> <span>{{recFromSeed.mnemonic12}}</span>{{item}} </li>-->
						<!--</ul>-->
					</div>
					<!--清除浮动-->
					<div class="clearB"></div>

				</div>
			</div>
			<!--<textarea-->
			<!--style="height: 100px; font-size: 16px; color: #000; line-height: 26px; resize:none"-->
			<!--id="inputMnemonic"-->
			<!--ng-model="recFromSeed.inputMnemonic"-->
			<!--autocomplete="off">-->
			<!--</textarea>-->

			<!--按钮 点击恢复钱包-->
			<!--<input-->
					<!--ng-show="!recFromSeed.scanning"-->
					<!--type="submit"-->
					<!--id="recSubmit"-->
					<!--class="button expand black round"-->
					<!--value="{{'Recover'|translate}}"-->
					<!--style="background: #236D97;margin-top:20px; height: 45px">-->
			<!--&lt;!&ndash;按钮 点击恢复钱包 结束&ndash;&gt;-->

			<div style="text-align: center;padding:30px 15px;" ng-show="!recFromSeed.scanning">
				<button
					type="submit"
					id="recSubmit"
					translate
					>Recovery wallet</button>
					<!--<input-->
					<!--ng-show="!recFromSeed.scanning"-->
					<!--ng-disabled="recFromSeed.credentialsEncrypted"-->
					<!--type="submit"-->
					<!--id="recSubmit"-->
					<!--class="button #2fa1d2 round tiny"-->
					<!--value="{{'Recovery wallet'|translate}}"-->
					<!--style="background: #236D97; width: 95%;display: block; margin: 0 auto;height: 46px;margin-top: -30px;font-size: 16px;">-->
			</div>
			<!--钱包内部 恢复钱包时弹出一个模态框-->
			<div ng-show="recFromSeed.scanning" style="text-align: center;margin-top: 20px;">
				 <img src="./img/recorvimg.png" />
                            <div translate class="m15t" style="
                            font-size:14px;
                            font-weight:400;
                            color:rgba(40,40,40,1);">Please wait patiently during the wallet recovery process, do not quit the software!</div>
			</div>
		</form>
		<div ng-if="recFromSeed.showAlert" style="position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: #fff;z-index: 100;">
		        <nav ng-controller="topbarController as topbar" class="tab-bar" >
		            <!-- 左区 -->
		            <section class="left-small">
		                <a>
		                    <img src="./img/chatbackstate.png">
		                </a>
		            </section>
		            <!-- 中间区 -->
		            <section class="middle tab-bar-section">
		                <h1 class="title ellipsis" translate>
		                    Recovery
		                </h1>
		            </section>
		        </nav>
		        <div class="f9fafch"></div>
		        <div class="p15h">
		                <div class="size-14 text-center enable_text_select" style="padding: 40px 0;color: #323232;">
		                        <span translate="" style="padding: 15px">1 wallets recovered, please restart the application to finish.</span>
		                </div>
		                <button ng-click="recFromSeed.showAlert.close()">
		                    <span translate="">OK</span>
		                </button>
		        </div>
		</div>
	</div>

</div>