<div class="passModalMask">
</div>

<div ng-controller="passwordController as pass" class="passModal oh"
     ng-class="{'animated  bounceInDown':index.askPassword}" >
    <form ng-submit="pass.set(index.askPassword.isSetup, index.askPassword.callback)">
        <!--点击叉号关闭-->
        <div class="">
            <label class="" for="password" ng-if="index.askPassword.isSetup"
                   style="margin-bottom: 0;text-align: center;padding: 20px 0;font-size: 16px;color: #323232;border-bottom: 1px solid #F5F5F5;">
                <span ng-show="!pass.isVerification" translate>Set up a password</span>
                <span ng-show="pass.isVerification" translate>Repeat password</span>
            </label>

            <label for="password" ng-if="!index.askPassword.isSetup" style="margin-bottom: 0;text-align: center;padding: 20px 0;font-size: 16px;color: #323232;border-bottom: 1px solid #F5F5F5;">
                <span translate>Enter your password</span>
            </label>

            
            <div class="m20t" style="padding:0 15px;">
                <input type="password" placeholder="{{'Your password'|translate}}"
                       id="passwordInput" name="password" ng-model="pass.password"
                       style="border-bottom: 1px solid #CACACA;width: 100%;height: 50px;padding-left: 15px;    margin-bottom: 16px;">
            </div>
            <div class="size-14 redcolor p15h" ng-show="index.askPassword.error" style="display:flex;justify-content: flex-start;">
                    <img src="./img/passerror.png" style="margin-right: 8px; width:18px;height:18px;flex-shrink:0;"/>
                    <span translate style="text-align:left;">
                            {{index.askPassword.error|translate}}
                    </span>
            </div>
        </div>
        <!--<div class="row" style="width: 92%;">-->
            <!--<div class="small-6 columns">-->
                <!--<button class="round expand" ng-disabled="!pass.password" style="margin-left: 6%;height: 46px;padding-top: 12px;font-size: 16px;"-->
                        <!--ng-style="{'background-color':'#246D98'}">-->
                    <!--<span ng-if="index.askPassword.isSetup" translate >SET</span>-->
                    <!--<span ng-if="!index.askPassword.isSetup" translate>OK</span>-->
                <!--</button>-->
            <!--</div>-->
            <!--<div class="small-6 columns">-->
                <!--<button type="button" class="round small-6 columns outline dark-gray expand" style="margin-left: -9%;height: 46px;padding-top: 12px;font-size: 16px;"-->
                        <!--ng-click="pass.close(index.askPassword.callback)" translate style="border-color:#246D98;">-->
                    <!--CANCEL-->
                <!--</button>-->
            <!--</div>-->
        <!--</div>-->

        <div class="mimachatdeleterecordbtn">
            <button ng-disabled="!pass.password" style="float:left;"
                    ng-style="{'background-color':'linear-gradient(90deg,rgba(66,53,50,1) 0%,rgba(73,51,25,1) 100%,rgba(71,49,20,1) 100%);'}">
                <span ng-if="index.askPassword.isSetup" translate >SET</span>
                <span ng-if="!index.askPassword.isSetup" translate>OK</span>
            </button>
            <button type="button" class="awbtn" style="float: right;"
                    ng-click="pass.close(index.askPassword.callback)" translate >
                CANCEL
            </button>
        </div>
        <p class="text-warning size-12 columns m20t text-center" ng-show="!index.askPassword.isSetup" style="margin-bottom:0;"></p>

        <p class="text-warning size-12 columns m20t text-center" ng-show="index.askPassword.isSetup" style="margin-bottom:0;">


            <span translate ng-show="!pass.error" class="xian1" style="padding:16px 0; color: #E96F60;display: block;width: 100%;"> Your wallet key will be encrypted. Password cannot be recovered. Be sure to write it down</span>

            <!--<span translate ng-show="!pass.error && pass.bHasMnemonic">Also, don't forget to delete your seed</span>-->

            <span ng-show="pass.error">{{pass.error|translate}}</span>

    </form>
</div>
